{% extends "base.html" %}

{% block content %}
<div class="content">
    {# all rss logo in this project is download from iconfont.cn #}
    <h1 class="login-title">F-<strong style="color: #ffcf00;">RSS</strong>Reader<svg t="1575466754036" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2066" width="25" height="25"><path d="M42.666667 853.333333a128 128 0 1 1 256 0 128 128 0 0 1-256 0z m938.666666 128h-178.773333c0-418.986667-340.906667-759.893333-759.893333-759.893333V42.666667c517.546667 0 938.666667 421.12 938.666666 938.666666z m-298.666666 0h-182.826667c0-252.074667-205.098667-457.130667-457.173333-457.130666V341.333333c352.896 0 640 287.104 640 640z" fill="#EE802F" p-id="2067"></path></svg></h1>
    {# form learned from class code #}
    <form class="index-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="login-form">
            {{ form.username.label }}
            {{ form.username() }}

            {% for error in form.username.errors %}
            <p style="color: #ff7676; margin: 0"><small>*{{ error }}</small></p>
            {% endfor %}
            {# hide hint #}
            <p class="error error-user"><small>*User exist!</small></p>

            {{ form.email.label }}
            {{ form.email() }}

            {% for error in form.email.errors %}
            <p style="color: #ff7676; margin: 0"><small>*{{ error }}</small></p>
            {% endfor %}
            {# hide hint #}
            <p class="error error-email"><small>*Email exist!</small></p>
            <p class="error error-email-format"><small>*Email format wrong! e.g.: xxxxx@xxx.xxx</small></p>

            {{ form.password.label }}
            {{ form.password() }}

            {% for error in form.password.errors %}
            <p style="color: #ff7676; margin: 0"><small>*{{ error }}</small></p>
            {% endfor %}

            {{ form.password2.label }}
            {{ form.password2() }}

            {% for error in form.password2.errors %}
            <p style="color: #ff7676; margin: 0"><small>*{{ error }}</small></p>
            {% endfor %}
            {# hide hint #}
            <p class="error error-password"><small>*Password not match!</small></p>

            {{ form.register() }}

            {% for message in get_flashed_messages() %}
                <p style="margin: 0; color: #ff7676;"><small>{{ message }}</small></p>
            {% endfor %}
        </div>
    </form>
    <script>document.querySelector(".content").style.marginTop=0</script>
    <script src="{{ url_for('static', filename='script/register.js') }}"></script>
</div>
{% endblock %}